* {
    font-family: "Lora", serif;
}

body{
    background-color:rgb(119, 101, 0);
    background-image: url(Assets/3615704.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login-div{
    margin:100px auto;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 60px;
}

.logo{
    background-color: rgb(224, 224, 224);
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin:0 auto;
    margin-bottom: 10px;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: auto;
}

/*.logo img{
    position:absolute;
    top: 15%;
    right: 43%;
}*/

.title, .subtitle{
    text-align: center;
    color: rgb(0, 0, 0);
}

.title{
    font-weight: bolder;
    font-size: 18px;
}

.subtitle{
    font-size: 18px;
}

.form{
    width: 100%;
    margin-top: 30px;
}

.form input{
    font-size: 18px;
    padding: 10px, 20px, 10px, 5px;
    border: none;
    outline: none;
    background: none;
}

.username, .password{
    display: block;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}

.form svg{
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px;
    margin-bottom: 30px;
}

button.signinbtn{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 5px;
}

.signup{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 18, 119);
}



.event {
    padding: 2% 10%;
}

.eventTable {
    width: 100%;
    background-color: rgb(0, 18, 119);
    border: rgb(0, 18, 119) 5px double;
    border-radius: 15px;
}

.eventTable th {
    text-align: center;
    font-size: 5vh;
    padding: 15px;
    background-color: white;
    width: 100%;
    border-bottom: solid rgb(0, 18, 119) 2px;
}

.eventTable td {
    border-bottom: solid rgb(0, 18, 119) 1px;
    text-align: left;
    padding: 10px;
    font-size: 3vh;
}

.description {
    text-align: left;
    padding-inline: 2%;
    margin: 0px 20%;
    border: rgb(0, 18, 119) 5px double;
    border-radius: 15px;
    background-color: white;
}

#eventDescription {
    font-size: large;
}

.eventComments {
    padding: 2% 8%;
}

#header {
    background-color: white;
    width: fit-content;
    padding: 1% 5%;
    margin-inline: 10%;
    font-size: xx-large;
    text-align: left;
    font-style: italic oblique;
    border-radius: 50px;
}

.commentBox {
    border: solid rgb(0, 18, 119) 1px;
    border-radius: 30px;
    padding: 1%;
    width: 550px;
    margin-inline: 10%;
    background: white;
}

.commentBox .commentSubtitle {
    font-size: medium;
    margin: 1%;
}

.commentBox .commentText {
    font-size: larger;
}

#rating {
    text-align: right;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#addCommentButton {
    margin-inline: 2%;
    padding: 1% 3%;
    border: rgb(0, 18, 119) solid 1px;
    border-radius: 25px;
    font-size: medium;
    background-color: rgb(0, 18, 119);
    font-style: italic;
}


#addCommentButton:hover {
    background-color: rgb(0, 18, 119);
    color: white;
    cursor: pointer;
}

#addAComment{
    display: none;
}


.addCommentBox {
    border: rgb(0, 18, 119) 1px solid;
    border-radius: 25px;
    margin-inline: 10%;
    padding: 2%;
    margin-top: 15px;
    background-color: white;
    font-size: large;
}

#commentInput {
    width: 100%;
    margin: 5px;
    font-size: large;
    padding: 2%;
}

#ratingInput{
    width: 15%;
    margin-inline: 5px;
    padding: 1%;
}

#submitComment{
    margin-top: 2%;
    padding: 1% 3%;
    border: rgb(0, 18, 119) solid 1px;
    border-radius: 25px;
    font-size: medium;
    background-color: goldenrod;
    font-style: italic;
}

#submitComment:hover{
    cursor: pointer;
    background-color: rgb(0, 18, 119);
    color: white;
}